%%-*- mode: erlang -*-

{deps,
	[
		{webmachine, ".*", {git, "git://github.com/basho/webmachine", "HEAD"}},
  	 	{erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl", "HEAD"}},
  	 	{erlsha2, ".*", {git, "git://github.com/vinoski/erlsha2", "HEAD"}},
  	 	{efbsr, ".*", {git, "git://github.com/fpt/efbsr", "HEAD"}}
  	]
}.
